<style>
    table {
        margin-left: 55px;
    }

    td {
        position: relative;
        padding: 10px;
    }

    .number {
        width: 80px;
    }

    #contentwrapper {
        margin-left: -140px;
    }

    span.invalid {
        position: absolute;
        left: 10px;
        top: 30px;
        color: red;

    }
</style>
<div class="centercontent">
    <div id="contentwrapper" class="contentwrapper">
        <div id="updates" class="subcontent">
            <div class="notibar announcement">

                <h3>在此处添加船舶信息<span style="color:red;font-size:.6em;line-height:1em">船名和总吨位添加后不能修改</span></h3>
                <form id="formship" action="{:url('/addshipaction')}" method="post">
                    <input type="hidden" name="Id" value="{$Request.route.id}"/>
                    <table>
                        <tr>
                            <td>公司名称:</td>
                            <td><input id="cname" style="width:250px" name="CompanyName" type="text"></td>
                            <td>船名:</td>
                            <td colspan="3"><input id="shipname" name="ShipName" type="text"></td>
                        </tr>
                        <tr>
                            <td>总吨位:</td>
                            <td><input type="text" name="ZongDun"></td>
                            <td>载重吨:</td>
                            <td><input class="number" name="ZaiZhongDun" type="text"></td>
                            <td>净吨:</td>
                            <td><input class="number" name="JingDun" type="text"></td>

                        </tr>
                        <tr>
                            <td>舱口数:</td>
                            <td><input class="number" name="CangkouShu" type="text"></td>
                            <td>总仓容:</td>
                            <td><input class="number" name="ZongCangRong" type="text"></td>
                            <td>满载吃水:</td>
                            <td><input class="number" name="ManzaiChishui" type="text">
                            </td>
                        </tr>
                        <tr>
                            <td>船长:</td>
                            <td><input class="number" name="Length" type="text"></td>
                            <td>船宽:</td>
                            <td colspan="3"><input class="number" name="Width" type="text"></td>
                        </tr>
                        <tr>
                            <td>船期:</td>
                            <td colspan="5"><input class="Wdate" name="ChuanQi" style="width: 120px" type="text"
                                                   readonly onclick="new WdatePicker()">
                            </td>
                        </tr>
                        <tr>
                            <td>联系人1:</td>
                            <td><input name="Contact1" type="text"></td>
                            <td>联系电话1:</td>
                            <td colspan="3"><input name="Tel1" type="text"></td>
                        </tr>

                        <tr>
                            <td>联系人2:</td>
                            <td><input name="Contact2" type="text"></td>
                            <td>联系电话2:</td>
                            <td colspan="3"><input name="Tel2" type="text"></td>
                        </tr>
                        <tr>
                            <td>联系人3:</td>
                            <td><input name="Contact3" type="text"></td>
                            <td>联系电话3:</td>
                            <td colspan="3"><input name="Tel3" type="text"></td>
                        </tr>

                        <tr>
                            <td>备注:</td>
                            <td colspan="5"><input style="width: 60%" type="text" name="Mark"></td>
                        </tr>

                        <tr>
                            <td colspan="6" style="text-align: center">
                                <input id="btn" class="btn btn-primary" style="width: auto" type="submit"
                                       value="添加"/></td>
                        </tr>
                    </table>
                </form>
            </div><!-- notification announcement -->
        </div>
    </div><!-- centercontent -->
</div>
{js href="__PUBLIC__/js/My97DatePicker/WdatePicker.js"}
{js href="__PUBLIC__/js/My97DatePicker/lang/zh-cn.js"}
{js href="__PUBLIC__/js/jquery-1.11.1.js"}
{js href="__PUBLIC__/js/jquery.validate.min.js"}
<script>
    $.validator.addMethod("pattern", function (v, e, p) {
        return p.test(v) || this.optional(e)
    })
    $("#formship").validate({
        rules: {
            CompanyName: {
                required: true
            },
            ShipName: {
                required: true,
                remote: {
                    url: '/shipexist',
                    type: 'post',
                    data: {
                        name: function () {
                            return $("#shipname").val();
                        }
                    }
                }
            },
            ZongDun: {
                required: true,
                number: true
            },
            ZaiZhongDun: {
                required: true,
                number: true,
                digits: true
            },
            JingDun: {
                required: true,
                number: true,
                digits: true
            },
            CangkouShu: {
                required: true,
                number: true,
                digits: true
            },
            ZongCangRong: {
                required: true,
                min: 0
            },
            ManzaiChishui: {
                required: true,
                min: 0
            },
            Length: {
                required: true,
                min: 0
            },
            Width: {
                required: true,
                min: 0
            },
            Contact1: {
                required: true
            },
            Tel1: {
                required: true,
                pattern: /^1[3|4|5|7|8]((\d{1}[ ]\d{4}[ ]\d{4})|\d{9})$/
            },
            Tel2: {
                pattern: /^1[3|4|5|7|8]((\d{1}[ ]\d{4}[ ]\d{4})|\d{9})$/
            },
            Tel3: {
                pattern: /^1[3|4|5|7|8]((\d{1}[ ]\d{4}[ ]\d{4})|\d{9})$/
            }
        },
        messages: {
            CompanyName: {
                required: '公司名称不为空'
            },
            ShipName: {
                required: '船名不能为空',
                remote: '船名已存在'

            },
            ZongDun: {
                required: '总吨不能为空',
                number: '请输入数字'
            },
            ZaiZhongDun: {
                required: '载重吨不能为空',
                number: '请输入数字',
                digits: '请输入整数'
            },
            JingDun: {
                required: '净吨不能为空',
                number: '请输入数字',
                digits: '请输入整数'
            },
            CangkouShu: {
                required: '舱口数不能为空',
                number: '请输入数字',
                digits: '请输入整数'
            },
            ZongCangRong: {
                required: '总仓容不能为空',
                min: '最小值为0'
            },
            ManzaiChishui: {
                required: '满载吃水不能为空',
                min: '最小值为0'
            },
            Length: {
                required: '船长不能为空',
                min: '最小值为0'
            },
            Width: {
                required: '船宽不能为空',
                min: '最小值为0'
            },
            Contact1: {
                required: '联系人1不能为空'
            },
            Tel1: {
                required: '手机号1不能为空',
                pattern: '请输入正确的手机号'
            },
            Tel2: {
                pattern: '请输入正确的手机号'
            },
            Tel3: {
                pattern: '请输入正确的手机号'
            }
        },
        errorClass: 'invalid',
        errorElement: 'span'
    })
</script>


