<style>

    ul li p span {
        display: inline-block;
        width: 10rem;
        text-align: right;
    }

    .error {
        width: auto;
        color: red;
        padding-left: 5px;
    }

</style>
<div id="contentwrapper" class="contentwrapper">
    <div id="updates" class="subcontent">
        <div class="notibar announcement">
            <h3>修改密码</h3>
            <form  action="{:url('/changepwdAction')}" method="post">
                <ul>
                    <li>
                        <p>
                            <span>请输入原始密码: </span><input type="password" name="old" id="old">
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>请输入新密码:</span><input id="new" name="new" type="password">
                        </p>
                    </li>
                    <li>
                        <p>
                            <span>请再次输入新密码:</span><input id="chknew" type="password">
                        </p>
                    </li>
                    <li>
                        <p>
                            <input id="btn" type="submit" value="修改"/>
                        </p>
                    </li>
                </ul>
            </form>
        </div><!-- notification announcement -->
    </div><!-- centercontent -->
</div>
<script src="__PUBLIC__/js/jquery.min.js"></script>
<script>
    $('#btn').click(function () {
        $('span.error').remove();
        if ($('#old').val() == "") {
            $('#old').after('<span class="error">原始密码不能为空</span>');
            return false;
        }
        if ($('#new').val() == "") {
            $('#new').after('<span class="error">新密码不能为空</span>');
            return false;
        }
        if ($('#new').val() != $('#chknew').val()) {
            $('#chknew').after('<span class="error">两次密码输入不一致</span>');
            return false;
        }
    })
</script>
    

